:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./assets/Mountains3.png);
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  width: 620px;
  height: 146px;
  background-image: url(./assets/logo.png);
  background-size: cover;
  margin-bottom: 24px;
}

.canvas-wrap {
  width: 616px;
  height: 616px;
  position: relative;
  border-radius: 12px;
  background: #b6b6b6;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 38px;
}

.canvas-wrap canvas {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  z-index: 1;
}

.top {
  background-image: url(./assets/border-top.png);
  background-repeat: repeat-x;
  position: absolute;
  height: 12px;
  top: 0;
  left: 12px;
  right: 12px;
  z-index: 100;
}

.bottom {
  background-image: url(./assets/border-bottom.png);
  background-repeat: repeat-x;
  position: absolute;
  height: 12px;
  bottom: 0;
  left: 12px;
  right: 12px;
  z-index: 100;
}

.top-right {
  background-image: url(./assets/border-top-right.png);
  background-repeat: repeat-x;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  right: 0;
  z-index: 100;
}

.top-left {
  background-image: url(./assets/border-top-left.png);
  background-repeat: repeat-x;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  z-index: 100;
}

.left {
  background-image: url(./assets/border-left.png);
  background-repeat: repeat-y;
  position: absolute;
  width: 12px;
  top: 12px;
  bottom: 12px;
  left: 0;
  z-index: 100;
}

.right {
  background-image: url(./assets/border-right.png);
  background-repeat: repeat-y;
  position: absolute;
  width: 12px;
  top: 12px;
  bottom: 12px;
  right: 0;
  z-index: 100;
}

.bottom-right {
  background-image: url(./assets/border-bottom-right.png);
  background-repeat: repeat-x;
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.bottom-left {
  background-image: url(./assets/border-bottom-left.png);
  background-repeat: repeat-x;
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 0;
  left: 0;
  z-index: 100;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    background-image: url(./assets/Mountains1.png);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
